<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de contacto</title>
</head>
<body>
	<h3>Registro de contactos</h3>
	<form action="" method="post" th:object="${contacto}">
		<div>
			<label for="nombre">Nombre: </label> <input id="nombre" type="text"
				placeholder="Digite su nombre " th:field="*{nombre}">
		</div>
		<div>
			<label for="Celular">Celular: </label> <input id="celular"
				type="text" placeholder="Digite su Celular " th:field="*{nombre}">
		</div>
		<div>
			<label for="Email">Email: </label> <input id="email" type="email"
				placeholder="Digite su Email " th:field="*{email}">
		</div>
		<div>
			<label for="fechaNacimiento">Fecha nacimiento: </label> 
			<input id="fechaNacimiento" type="date" th:field="*{fechaNacimiento}">
		</div>

		<button>Guardar</button>
		<a href="/">Cancelar</a>
	</form>
</body>
</html>