<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${contacto.id ne null ? 'Editar contacto' : 'Registro de Contacto'}]]</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<div class="row justify-content-center">
		<div class="col-md6 col-lg-4">
			<h3>[[${contacto.id ne null ? 'Editar contacto' : 'Registro de Contacto'}]]</h3>
			<br>
			<form th:object="${contacto}"
				th:action="${contacto.id == null}
                 ? @{/nuevo}
                 : @{/{id}/editar(id=${contacto.id})}"
				method="post">
				<input type="hidden" th:field="*{id}">
				<div>
					<label for="nombre">Nombre: </label> <input id="nombre" type="text"
						placeholder="Digite su nombre " th:field="*{nombre}"
						class="form-control" th:errorClass="is-invalid">

					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
						class="invalid-feedback"></div>
				</div>
				<div>
					<label for="Celular">Celular: </label> <input id="celular"
						type="text" placeholder="Digite su Celular " th:field="*{celular}"
						class="form-control" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"
						class="invalid-feedback"></div>
				</div>
				<div>
					<label for="Email">Email: </label> <input id="email" type="email"
						placeholder="Digite su Email " th:field="*{email}"
						class="form-control" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="invalid-feedback"></div>
				</div>
				<div>
					<label for="fechaNacimiento">Fecha nacimiento: </label> <input
						id="fechaNacimiento" type="date" th:field="*{fechaNacimiento}"
						class="form-control" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('fechaNacimiento')}"
						th:errors="*{fechaNacimiento}" class="invalid-feedback"></div>
				</div>

				<div class="text-end">
					<button class="btn btn-success">Guardar</button>
					<a href="/" class="btn tbn-light ms-2">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>